
body{
    background-color: #e7e7e7;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    border: 0;
}

p{
    font-size: 1em;
    font-weight: 400;
}

a{
    font-size: 1em;
    font-weight: 500;
}

.spaceElement{
    height: 8em;
}

.wrapperContainer_adjust{
    padding-top: 1px;   
}

.wrapper_nav{
    background-color: #1a1a1a;
    text-align: center;
    align-items: center;
    padding: 1em 0 1em 0;
}

.wrappperNav ul{
    padding: 0;
    margin: 0;
}

.wrappperNav li{
    list-style-type: none;
    padding: 1em;
    margin: 0;
}

.wrappperNav a{
    color: #e7e7e7;
    text-decoration: none;
    font-weight: 400;
    padding: 1em;
}

.wrappperNav span{
    display: inline-block;
    background: #ffec1b;
    color: #1a1a1a;
}

@media screen and (min-width: 48.75em){
    .wrapper_nav{
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .wrappperNav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wrapper_nav a:hover{
        color: #ffec1b;
    }

    .indexConection span{
        display: flex;
    }
    
}

.heroBanner{
    display: inline-block;
    text-align:center;
    background-color: #b9b9b9;
    border-radius: 3em;
    margin: 1em 1em 1em 1em;
    padding: 0;
}

.heroaBanner_tittle{
    background-color: #bcbcbc;
    border-radius: 2em 2em 0 0;
    padding: 2em;
}

.heroaBanner_tittle a{
    border: solid .15em black;
    padding: .5em 1.5em;
    text-decoration: none;
    color: black;
    border-radius: 3em;
    font-weight: 400;
}

.heroaBanner_tittle p{
    margin-bottom: 2em;
}

.heroBanner h1{
    text-transform: uppercase;
    font-weight: 300;
}

.heroBanner img{
    width: 100%;
}

@media screen and (min-width: 48.45em) {
    .heroBanner{
        display: flex;
        text-align: left;
        margin: 3em 1em 5em 1em;
    }

    .heroaBanner_tittle{
        background-color: #f5f5f7;
        border-radius: 3em 0 0 3em;
        padding: 2em;
    }

    .heroaBanner_tittle p{
        margin-bottom: 2em;
        max-width: 50em;
    }   
}

.martialAbsolute{
    position: absolute;
    left: 220px;
    font-size: .5em;
    transform: translateY(1080px);
    background: #fff700;
    width: 100px;
    border-radius: 2em 2em 2em 0;
    padding: 1em;
}

@media screen and (min-width: 48.75em) {
    .martialAbsolute{
        position: absolute;
        left: 499px;
        font-size: 1em;
        transform: translateY(280px);
        background: #e0e0e0;
        width: 100px;
        border-radius: 2em 0 2em 2em;
        padding: 1em;
    } 
}

.aboutContent{
    display: flex;
    text-align:center;
    border-radius: 3em;
    margin: 1em;
    padding: 0;
}

.aboutContent ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.aboutContent li{
    background-color: #ffffff;
    padding: 2em;
    list-style-type: none;
    border-radius: 1em;
}

.aboutContent_details{
    border-radius: 0 0 2em 2em;
    /* padding: 2em; */
}

.aboutContent_details a{
    border: solid .15em black;
    padding: .5em 1.5em;
    text-decoration: none;
    color: black;
    border-radius: 3em;
    font-weight: 400;
}

@media screen and (min-width:48.75em) {
    .aboutContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        border-radius: 2em;
        margin: 1em 1em 5em 1em;
    }

    .content_about{
        text-align: center;
        padding: 2em;
    }

    .aboutContent_details ul{
        flex-direction: column;
    }
    
    .aboutContent li{
        border-radius: 1em;
        width: 70em;
    }

    .aboutContent p{
        margin-bottom: 1em;
        /* width: 80em;  */
        padding: 2em 10em .5em 10em;
        justify-content: left;
    }
}

.workActive{
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow: hidden;
    padding: 128px 20px;
}

.workActive h2{
    text-align: center;
    text-transform: uppercase;
}

.workSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; 
    max-width: 46em;
    width: 100%;
}

.workSection{
    display: flex;
    flex-direction: column;;
    gap: 1em;
}

.workcopy h2{
    padding: 2em;
}

.containerArticle{
    display: inline-block;
    flex-direction: column;
    text-align: left;
}

.containerFull{
    color: #111010;
    background-color: #ebebeb;
    padding: 1em;
    border-radius: 2em;
}

.containerGreen{
    background-color: #69c29a;
    padding: 1em;
    border-radius: 2em;
}

.containerGray{
    background-color: #bebebe;
    padding: 1em;
    border-radius: 2em;
}

.containerBlack{
    color: white;
    background-color: #6b6b6b;
    padding: 1em;
    border-radius: 2em;
}

.containerArticle a{
    border: solid .15em black;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #000000;
    border-radius: 3em;
    font-weight: 400;
}


@media screen and (min-width:48.75em) {
    .workSection{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 60em;
        gap: 1.5em;
    }

    .containerFull{
        padding: 2em;
        border-radius: 2em;
        width: 25em;
    }
    
    .containerGreen{
        background-color: #69c29a;
        padding: 2em;
        border-radius: 2em;
    }
    
    .containerGray{
        background-color: #bebebe;
        padding: 2em;
        border-radius: 2em;
        width: 25em;
    }
    
    .containerBlack{
        color: white;
        background-color: #6b6b6b;
        padding: 2em;
        border-radius: 2em;
        width: 25em;
    }

    .containerArticle a{
        border: solid .15em rgb(0, 0, 0);
        padding: .5em 1.5em;
        text-decoration: none;
        color: #000000;
        border-radius: 3em;
        font-weight: 400;
    }
    
}

.sectionFight{
    background-color: #69c29a;
    margin: 0;
    padding: 1em;
}

.sectionFight img{
    justify-content: center;
    margin-left: 2.5em;
    width: 78%;
}

.agroforest{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 3em;
}

.agroforest a{
    border: solid .15em rgb(0, 0, 0);
        padding: .5em 1.5em;
        text-decoration: none;
        color: #000000;
        border-radius: 3em;
        font-weight: 400;
}

@media screen and (min-width: 48.75em) {
    .sectionFight{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .agroforest h1{
        width: 15em;
    }

    .sectionFight img{
        justify-content: center;
        margin-left: 2.5em;
        width: 35%;
    }

    .agroforest {
        display: inline-block;
        flex-direction: column;
        text-align: left;
    }

}

.work_footer{
    background-color: #1a1a1a;
    text-align: center;
    align-items: center;
    padding: 2em;
}

.work_footer li{
    justify-content: center;
    list-style-type: none;
    padding: 1em;
}

.work_footer ul{
    margin: 0;
    padding: 0;
}

.work_footer a{
    color: #e7e7e7;
    text-decoration: none;
    font-weight: 400;
}

.work_footer p{
    color: #e7e7e7;
    font-weight: 400;
}

.work_footer span{
    display: inline-block;
    background: #ffec1b;
    color: #1a1a1a;
}

.backTop a{
    color: #000000;
    background-color: #69c29a;
    padding: .5em 1em;
    border-radius: 3em;
}

@media screen and (min-width: 48.75em) {
    .containerFooter{
    display: flex;
    flex-direction: row;
    text-align: left;
    }

    .menuFooter{
        display: flex;
    }

    .work_footer ul{
        margin: 0;
        padding: 1em;
    }
    
    .work_footer li{
        justify-content: center;
        list-style-type: none;
        padding: 1em;
    }

    .menuFooter p{
        text-align: left;
        width: 20em;
        margin: 1.5em 7em 0 7em;
    }
    
    .menuFooter a{
        color: #e7e7e7;
        text-decoration: none;
        font-weight: 400;
        margin-right: 3em;
    }

    .logoFooter{
    background-color: #1a1a1a;
    text-align: left;
    align-items: normal;
    padding: 1.5em;
    }

    .containerFooter a:hover{
        color: #69c29a; 
    }

    .logoFooter a{
        display: flex;
        flex-direction: column;
    }
    
}

/* style for internal pages - portifolio */

.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.descriptionContainer img{
    width: 100%;
    padding: 2em;
}

.work_description{
    margin: 2em;
}

.work_description p{
   padding: 1.5em;
   margin-bottom: 2em;
   border-radius: 1em;
   background-color: white;
}

.work_description a{
    border: solid .15em rgb(0, 0, 0);
    padding: .5em 1.5em;
    text-decoration: none;
    color: #000000;
    border-radius: 3em;
    font-weight: 400;
}

@media screen and (min-width: 48.75em) {
    .descriptionContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .descriptionContainer img{
        width: 50%;
        height: 50%;
    }
    
    .work_description{
        margin: 2em;
    }
    
    .work_description p{
       padding: 1.5em;
       width: 30em;
       margin-bottom: 2em;
       border-radius: 1em;
       background-color: white;
    }
    
    .work_description a{
        border: solid .15em rgb(0, 0, 0);
        padding: .5em 1.5em;
        text-decoration: none;
        color: #000000;
        border-radius: 3em;
        font-weight: 400;
    }
}

/* part description list - work developed */

.list_description_work{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f7;
    margin: 0;
    padding: 0;
}

.title_description{
    text-align: center;
    padding: 2em;
}

.list_done_work{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list_jobs{
    margin: 2em;
    padding: 0;
}

.list_done_work li{
    background-color: #e7e7e7;
    list-style-type: none;
    padding: 1.5em;
    border-radius: .5em;
    margin: 1em;
}

.list_done_work span{
    font-weight: 300;
}   

@media screen and (min-width: 48.75em) {
    .list_done_work ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .list_done_work li{
        list-style-type: none;
        padding: 1.5em;
        background-color: #bebebe;
        border-radius: .5em;
        margin: 1em;
        width: 20em;
    }

    .list_done_work span{
        font-weight: 300;
    }
}

/* part other details - details */

.other_work{
    margin: 2em;
}

.other_work a{
    border: solid .15em rgb(0, 0, 0);
    padding: .5em 1.5em;
    text-decoration: none;
    color: #000000;
    border-radius: 3em;
    font-weight: 400;
}

.other_img img{
    width: 100%;
    padding-bottom: 2em;
}

@media screen and (min-width: 48.75em) {
    .workContainer{
        display: flex;
        flex-direction: row;
    }

    .other_work_list{
        display: flex;
        flex-direction: column;
    }

    .other_work_list ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}